
    <nav class="sb-sidenav accordion sb-sidenav-light" 
    style="background-color: #d2eed8;" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                

               

                <a class="nav-link" routerLink="usuario">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                    Usuarios
                </a>

                
                <a class="nav-link" routerLink="cliente">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-person"></i></div>
                    Clientes
                </a>
 
                <a class="nav-link" routerLink="proveedor">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-coins"></i></div>
                    Proveedores
                </a>
                <a class="nav-link" routerLink="producto">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-copy"></i></div>
                    Productos
                </a>
                
                <a class="nav-link" routerLink="ingreso">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-cash-register"></i></div>
                    Ingreso de productos
                </a>
                <a class="nav-link" routerLink="egreso">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-cash-register"></i></div>
                    Salida de Productos
                </a>
         <!--        <a class="nav-link" routerLink="inicio">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-cash-register"></i></div>
                    INICIO
                </a> -->

                
<!--                 <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-copy"></i></div>
                    Reportes
                </a> -->
                
                
                
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Administrador
        </div>
    </nav>

