<div class="mt-5">
    <h1 class="color-titulo">PRODUCTOS</h1>
</div>
<div  class="card text-dark bg-light mb-3">
    <div class="card-body">
        <form [formGroup]="myFormFiltro">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="">CATEGORIA</label>
                        <input formControlName="Categoria" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="">NOMBRE</label>
                        <input formControlName="Nombre" type="text" class="form-control">
                    </div>
                </div>
                
                <div class="col-12">
                    <button (click)="buscarFiltro()" class="float-end btn btn-sm btn-primary "
                        style="margin-right: 5px"> Buscar 
                        <i class="fa fa-search"></i>
                    </button>
                    <button (click)="LimpiarFiltro()" class="float-end btn btn-sm btn-danger "
                        style="margin-right: 5px"> Limpiar 
                        <i class="fa fa-eraser"></i>
                    </button>
                    <button (click)="exportarLista()" class="float-end btn btn-sm btn-secondary "
                        style="margin-right: 5px"> Exportar 
                        <i class="fa fa-file-excel"></i> 
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="d-flex justify-content-end" style="margin-right: 20px">
<button *ngIf="IdPerfilUsuario ==5 " (click)="btnCrear()" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Nuevo Producto
</button>
</div>
<div style="margin-bottom: 10px;"></div>

<div *ngIf="accion == 'lista'">
    <table class="table table-bordered">
        <thead>
            <tr>
                <!-- <th style="color: rgb(15, 114, 60);">ID</th> -->
                <th class="color-titulo">Categoria</th>
                <th class="color-titulo">Nombre</th>
                <th class="color-titulo">Descripcion</th>
                <th class="color-titulo">Stock</th>
                <th class="color-titulo">Costo Sin IGV</th>
                <th class="color-titulo">Costo Con IGV</th>
                <th *ngIf="IdPerfilUsuario ==5" class="color-titulo" >ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let x of productos">
                <!-- <td> {{x.productoId}} </td> -->
                <td> {{x.categoria}} </td>
                <td> {{x.nombre}} </td>
                <td> {{x.descripcion}} </td>
                <td> {{x.stock}} </td>
                <td> {{x.costoSinIgv}} </td>
                <td> {{x.costoConIgv}} </td>
                <td *ngIf="IdPerfilUsuario ==5 " class="text-center">
                    <button (click)="btnEditar(x)" class="btn btn-outline-success btn-sm" style="margin-right: 5px">
                        <i class="fas fa-edit"></i> Editar
                    </button>
                    <button  (click)="eliminar(x)" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-trash"></i> Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination [totalItems]="totalRegistro" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
        [itemsPerPage]="filtroRequest.cantidad">

    </pagination>
</div>


<div *ngIf="accion == 'registro'">
    <div class="container">
        <div class="card text-dark bg-light mb-3">
            <!-- <div class="card-header"></div> -->
            <div class="card-body">
                <form [formGroup]="myForm">
                    <div class="row">
                        <!-- <div class="col-12">
                            <div class="form-group">
                                <label for="">ID</label>
                                <input type="text" class="form-control" formControlName="productoId">
                            </div>
                        </div> -->
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Categoria</label>
                                <input type="text" class="form-control" formControlName="categoria">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Nombre</label>
                                <input type="text" class="form-control" formControlName="nombre">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Descripcion del Producto</label>
                                <textarea class="form-control" placeholder="Ingrese la descripcion del producto"
                                    class="form-control" formControlName="descripcion" style="height: 100px">
                            </textarea>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Stock</label>
                                <input type="number" class="form-control" formControlName="stock">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Costo Sin IGV</label>
                                <input type="number" class="form-control" formControlName="costoSinIgv">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Costo Con IGV</label>
                                <input type="number" class="form-control" formControlName="costoConIgv">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button (click)="btnGuardar()" class="btn btn-outline-success btn-sm">
                                    <i class="fas fa-save"> Guardar</i>
                                </button>
                                <button (click)="despuesDeGuardar()" class="btn btn-outline-success btn-sm">
                                    <i class="fas fa-ban"> Cancelar</i>
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>


    </div>

</div>