<div class="mt-5">
  <h1 class="color-titulo">INGRESO DE PRODUCTOS</h1>
</div>
<div class="card text-dark bg-light mb-3">
  <div class="card-body">
    <form [formGroup]="myFormFiltro">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="">TIPO DE COMPROBANTE</label>
            <select formControlName="TipoComprobante1" class="form-select">
              <option >BOLETA</option>
              <option >FACTURA</option>
              <option >ORDEN DE COMPRA</option>
          </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="">NUMERO DE COMPROBANTE</label>
            <input formControlName="NumComprobante" type="text" class="form-control">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
              <label for="">FECHA INICIO</label>
              <input formControlName="FechaInicio" type="date" class="form-control">
          </div>
      </div>
      <div class="col-3">
          <div class="form-group">
              <label for="">FECHA FIN</label>
              <input formControlName="FechaFin" type="date" class="form-control">
          </div>
      </div>
        <span>&nbsp;</span>
        <div class="col-12">
          <button (click)="buscarFiltro()" class="float-end btn btn-sm btn-primary "
          style="margin-right: 5px"> Buscar 
          <i class="fa fa-search"></i>
      </button>
      <button (click)="LimpiarFiltro()" class="float-end btn btn-sm btn-danger "
          style="margin-right: 5px"> Limpiar 
          <i class="fa fa-eraser"></i>
      </button>
      <button (click)="exportarLista()" class="float-end btn btn-sm btn-secondary "
          style="margin-right: 5px"> Exportar 
          <i class="fa fa-file-excel"></i> 
      </button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="d-flex justify-content-end" style="margin-right: 20px">
  <button (click)="btnCrear()" class="btn btn-success btn-sm">
    <i class="fas fa-plus"></i> Nuevo Ingreso
  </button>
</div>
<div style="margin-bottom: 10px;"></div>

<div *ngIf="accion == 'lista'">
  <table class="table table-bordered">
    <thead>
      <tr>
        <!-- <th style="color: rgb(15, 114, 60);">ID</th> -->
        <th class="color-titulo">TIPO COMPROBANTE</th>
        <th class="color-titulo">NUMERO COMPROBANTE</th>
        <th class="color-titulo">FECHA RECEPCION</th>
        <th class="color-titulo">CANTIDAD KG</th>
        <th class="color-titulo">NUM LOTE</th>
        <th class="color-titulo">PROVEEDOR</th>
        <th class="color-titulo">PRODUCTO</th>
        <th class="color-titulo" >USUARIO</th>
        <th *ngIf="IdPerfilUsuario ==5" class="color-titulo" >ACCIONES</th>
    </thead>
    <tbody>
      <tr *ngFor="let x of ingresos">
        <!-- <td> {{x.ingresoId}} </td> -->
        <td > {{x.tipoComprobante1}} </td>
        <td> {{x.numComprobante}} </td>
        <td > {{x.fechaRecepcion | date:'dd/MM/yyyy'}} </td>
        <td> {{x.cantidad}} </td>
        <td> {{x.numLote}} </td>
        <td> {{x.proveedor}} </td>
        <td> {{x.producto}} </td>
        <td> {{x.usuario}} </td>
        <td *ngIf="IdPerfilUsuario ==5" class="text-center">
          <button  (click)="btnEditar(x)" class="btn btn-outline-success btn-sm" style="margin-right: 5px">
            <i class="fas fa-edit"></i> Editar
          </button>
          <button  (click)="eliminar(x)" class="btn btn-outline-success btn-sm" >
            <i class="fas fa-trash"></i> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination [totalItems]="totalRegistro" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
    [itemsPerPage]="filtroRequest.cantidad">
  </pagination>
</div>
<div *ngIf="accion == 'registro' ">
  <div class="container">
    <div class="card text-dark bg-light mb-3">
      <div class="card-body">
        <form [formGroup]="myForm">
          <div class="row">
            <div class="col-6">
              <div class="formgroup">
                <label for="">Tipo Comprobante</label>
                <select class="form-select" formControlName="tipoComprobante">
                  <option *ngFor="let d of tipocomprobantes" [value]="d.comprobanteId">{{d.nombreComprobante}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-6">
              <div class="formgroup">
                <label for="">Numero Comprobante</label>
                <input type="text" class="form-control" formControlName="numComprobante">
              </div>
            </div>

            <div class="col-6">
              <div class="formgroup">
                <label for="">fecha Recepcion</label>
                <!-- <input type="date" class="form-control" formControlName="fechaRecepcion"> -->
                <input formControlName="fechaRecepcion" type="text" class="form-control" bsDatepicker
                  [(ngModel)]="bsValue" [bsConfig]="{
                  isAnimated: true,
                  adaptivePosition: true,
                  dateInputFormat: 'DD/MM/YYYY'
                  }" />
              </div>
            </div>
            <div class="col-6">
              <div class="formgroup">
                <label for="">Cantidad en KG</label>
                <input type="text" class="form-control" formControlName="cantidad">
              </div>
            </div>

            <div class="col-6">
              <div class="formgroup">
                <label for="">Numero de Lote</label>
                <input type="text" class="form-control" formControlName="numLote">
              </div>
            </div>

            <div class="col-6">
              <div class="formgroup">
                <label for="">Proveedor</label>
                <select class="form-select" formControlName="proveedorId">
                  <option *ngFor="let d of proveedores" [value]="d.proveedorId">{{d.nombre}}</option>
                </select>

              </div>
            </div>
            <div class="col-6">
              <div class="formgroup">
                <label for="">Producto</label>
                <select class="form-select" formControlName="productoId">
                  <option *ngFor="let d of productos" [value]="d.productoId">{{d.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="formgroup">
                <label for=""> Usuario</label>
                <select class="form-select" formControlName="usuarioId">
                  <option *ngFor="let d of usuarios" [value]="d.usuarioId">{{d.nombre+' '+d.apellidoPaterno+'
                    '+d.apellidoMaterno}}</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <button (click)="btnGuardar()" class="btn btn-outline-success btn-sm">
                  <i class="fas fa-save"> Guardar</i>
                </button>
                <button (click)="despuesDeGuardar()" class="btn btn-outline-success btn-sm">
                  <i class="fas fa-ban"> Cancelar</i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>