<nav class="navbar" style="background-color: #19491f;">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" style="color: aliceblue;" routerLink="inicio">Sistema de Almacen - Inversiones Montiel</a>
    
    <!-- Contenedor para el nombre de usuario y el botón de Cerrar Sesión -->
    <div class="d-flex" style="margin-right: 30px;">
        <span class="navbar-text me-3" style="color: aliceblue;">
            Usuario: {{ usuario }}
        </span>
        
        <!-- Botón de Cerrar Sesión -->
        <a class="btn btn-light" href="" style="color: #19491f;">Cerrar Sesión</a>
    </div>
</nav>



